.navbar{
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(0, 178, 145);
    height: 20%;
    box-shadow: 10px 5px 5px rgb(9, 109, 91);
   
}

.navbar img {
  float: left;
  display: block;
  text-align: center;
  border-radius: 12%;
  box-shadow: 5px 5px 5px rgb(9, 109, 91);
  text-decoration: none;
  border-radius: 12%;
  box-shadow: 5px 5px 5px rgb(9, 109, 91);

}



