.navbar{
    width: 100%;
    background-color: rgb(0, 178, 145);
    height: 10%;

   
}
.navbar .logo{
    float: left;
    display: block;
    text-align: center;
    border-radius: 12%;
    box-shadow: 5px 5px 5px rgb(9, 109, 91);
    text-decoration: none;
    border-radius: 12%;
    box-shadow: 5px 5px 5px rgb(9, 109, 91);
  
  }
  .navbar-dark{
   
    box-shadow: 10px 5px 5px rgb(9, 109, 91);
   
}

.featurette-heading{
    margin-top: 0px;
    font-size: 40px;
    
}
.btn{
    background-color: rgb(255, 162, 161);
    color: rgb(0, 178, 145);
   
    border-radius: 30px;
}

.featurette{
    margin: auto;
}
