

   
<form class="form-signin">
  <img class="mb-4 logo"  src="../assets/img/FOODING-ICONO.png" alt="logo" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
  <label for="inputUserName" class="sr-only">Email address</label>
  <input [(ngModel)]="data.userName" name="userName" type="text" id="inputUserName" class="form-control mb-3" placeholder="Username or Email" required autofocus>
  <label for="inputPassword"  class="sr-only">Password</label>
  <input  [(ngModel)]="data.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg  btn-block"  (click)= "submit()">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>

