<nav class="navbar fixed-bottom ">
    <div>
        <a class="navbar-brand camara " href="#">
            <img src="assets/img/icons8-camara.png" width="30" height="30" alt="icon">
          </a>
    </div>
   <div>
    <a class="navbar-brand sms" href="#">
        <img src="assets/img/icons8-sms-30.png" width="30" height="30" alt="icon">
      </a>
   </div>
   <div >
    <a class="navbar-brand subir " href="#">
        <img src="assets/img/icons8-subir-50.png" width="30" height="30" alt="icon"  >
      </a>
   </div>
  
     
</nav>
